{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 70vh;">
  <div class="row shadow p-3 rounded w-100" style="background-color: #f8f9fa; max-width: 700px;">
    <div class="col-md-7 d-flex flex-column align-items-center justify-content-center" style="height: 100%; max-height: 380px; padding: 10px;">
      {% if login_error %}
        <p class="text-danger">Incorrect username or password.</p>
      {% endif %}
      <form class="form-group w-100" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h3 class="mb-3 text-center action-form mt-3">Welcome Back!</h3>
        {{ form }}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-secondary w-100 mt-4">Login</button>
        <div class="text-center mt-3">
          Don't have an account yet? 
          <a href="{% url 'signup' %}">Sign up</a>
        </div>
      </form>
    </div>
    <div class="col-md-5" style="padding: 0;">
      <img id="logo" class="img-fluid w-100 rounded" src="{% static 'shared/img/login-img.jpg' %}" alt="Side Image" style="height: 100%; max-height: 380px;">
    </div>
  </div>
</div>
{% endblock %}
