{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 70vh;">
  <div class="row shadow p-5 rounded w-100" style="background-color: #f8f9fa; max-width: 750px; padding: 20px; box-sizing: border-box;">
    <div class="col-md-5" style="padding: 0;">
      <img id="logo" class="img-fluid w-100 rounded" src="{% static 'shared/img/signup-img.jpg' %}" alt="Side Image" style="height: 100%;">
    </div>
    <div class="col-md-7 d-flex flex-column align-items-center justify-content-center" style="height: 100%; max-height: 400px; padding: 20px;">
      <form class="form-group w-100" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <h3 class="mb-2 text-center action-form">Start Your Journey</h3>
        {{ form }}
        <button type="submit" class="btn btn-secondary w-100 mt-2">Sign Up</button>
        <div class="text-center mt-3">
          Have an account? 
          <a href="{% url 'login' %}">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
